{
    "swagger": "2.0",
    "info": {
        "title": "Matey Resource API",
        "description": "Resource API for Android application Matey. Korsiti se metodama GET, POST, PUT, DELETE, OPTIONS. Vraca standardne status kodove gde su moguci.",
        "version": "1.0"
    },
    "host": "api.uber.com",
    "schemes": [
        "http"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/devices": {
            "post": {
                "description": "Ruta za registraciju uredjaja.",
                "parameters": [
                    {
                        "name": "gcm",
                        "in": "formData",
                        "description": "GCM key uredjaja.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON objekat sa podacima o kreiranom uredjaju.",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Device"
                            }
                        }
                    }
                }
            }
        },
        "/devices/:deviceId": {
            "put": {
                "description": "Ruta za update uredjaja.",
                "parameters": [
                    {
                        "name": "gcm",
                        "in": "formData",
                        "description": "GCM key uredjaja.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "old_gcm",
                        "in": "formData",
                        "description": "Stari GCM uredjaja.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON objekat sa podacima o update-ovanom uredjaju.",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Device"
                            }
                        }
                    }
                }
            }
        },
        "/users/accounts": {
            "post": {
                "description": "Ruta za registraciju korisnika.",
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "Email korisnika.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Sifra korisnika, najmanje 5 karaktera.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "first_name",
                        "in": "formData",
                        "description": "Ime korisnika.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "formData",
                        "description": "Prezime korisnika.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Uspesna registracija."
                    }
                }
            }
        },
        "/api/v1/users/me/accounts": {
            "post": {
                "description": "Ruta za dodavanje novog accounta, odnosno merge u prevodu.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "Tip novog account-a koji korisnik zeli da napravi i spoji sa starim. Moguce vrednosti 'standard' i 'facebook'. Podrazumevana vrednost ovog polja je 'standard'.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Ukoliko je novi account standardni, onda korisnik mora da obezbedi sifru koju zeli da koristi na tom nalogu.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fb_token",
                        "in": "formData",
                        "description": "Ukoliko je novi account facebook, onda korisnik mora da obezbedi facebook-ov access token.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Uspesna registracija."
                    }
                }
            }
        },
        "/api/v1/users/me/devices/:deviceId/login": {
            "put": {
                "description": "Ruta za ulogovanje korisnika.",
                "responses": {
                    "200": {
                        "description": "JSON objekat sa podacima o korisniku.",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Ruta za logout korisnika.",
                "responses": {
                    "200": {
                        "description": "Uspesno izlogovan."
                    }
                }
            }
        },
        "/api/v1/users/:userId": {
            "get": {
                "description": "Ruta za izvlacenje podataka o korisniku. Bice omoguceno da se doda query parametar 'fields' i da se navedu polja koja korisnik API-ja zeli da izvuce.",
                "responses": {
                    "200": {
                        "description": "OK.",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/users/:userId/profile": {
            "get": {
                "description": "Modifikacija prethodne rute, izvlacenje samo onih polja koja su neophodna za iscitavanje na profilu. Predstavlja samo brzi nacin.",
                "responses": {
                    "200": {
                        "description": "OK.",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Device": {
            "type": "object",
            "properties": {
                "device_id": {
                    "type": "string"
                },
                "device_secret": {
                    "type": "string"
                },
                "gcm": {
                    "type": "string"
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "user_id": {
                    "type": "integer",
                },
                "email": {
                    "type": "integer"
                },
                "first_name": {
                    "type": "string"
                },
                "last_name": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "verified": {
                    "type": "boolean"
                },
                "first_login": {
                    "type": "boolean"
                },
                "picture_url": {
                    "type": "string"
                },
                "cover_url": {
                    "type": "string"
                },
                "num_of_followers": {
                    "type": "integer"
                },
                "num_of_following": {
                    "type": "integer"
                }
            }
        },
    }
}